.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide img:hover{
  cursor: grab;
}

.swiper-slide img:active{
  cursor: grabbing;
}

@media (max-width: 600px){
  .parent-slider img{
    display: none;
  }
}
.border{
  border: 3px solid red;
  padding-left: 0 !important;
  
}
.back{
  background-color: rgb(87, 34, 34);
}
.toggle{
  border-radius: 5px !important;
  border: 1px solid #888 !important;

  text-transform: capitalize;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  font-size: 16px !important;
}